plugin_load_add                 	= "file_key_management.so"
file_key_management_filename    	= /etc/my.cnf.d/keys.txt
file_key_management             	= ON
aria_encrypt_tables             	= ON
innodb_encrypt_tables           	= ON
innodb_encrypt_log              	= ON
innodb_tablespaces_encryption   	= ON
encrypt_tmp_files               	= ON
encrypt_tmp_disk_tables         	= ON
encrypt_binlog                  	= ON
