###############################################################
# General Settings
###############################################################
[client-server]
socket                          	= /var/lib/mariadb/mysql.sock

[mysql]
port                            	= 3306
socket                          	= /var/lib/mariadb/mysql.sock
default_character_set           	= utf8

[mysqld_safe]
basedir                         	= /usr/
pid-file                        	= /var/lib/mariadb/mysql.pid

[mysqld]
basedir                         	= /usr/
datadir                         	= /var/lib/mariadb
tmpdir                          	= /tmp
socket                          	= /var/lib/mariadb/mysql.sock
port                            	= 3306
pid-file                        	= /var/lib/mariadb/mysql.pid
server_id                       	= 100
gtid_domain_id                  	= 1
character_set_server            	= utf8
collation_server                	= utf8_general_ci
init_connect                    	= 'SET NAMES utf8'
user                            	= mysql
ignore_db_dirs                  	= lost+found
default_storage_engine          	= InnoDB
userstat                        	= ON
session_track_system_variables  	= "autocommit,character_set_client,character_set_connection,character_set_results,last_gtid,time_zone"
performance_schema
event_scheduler
skip_name_resolve

################################################################
# Safety, Security & Recovery
################################################################
symbolic_links                  	= 0
myisam_recover_options          	= FORCE,BACKUP
max_allowed_packet              	= 32M
max_connect_errors              	= 1000000
log_bin_trust_function_creators 	= ON
explicit_defaults_for_timestamp 	= ON

################################################################
# Caches, Buffers & Connections
################################################################
query_cache_type                	= 0
query_cache_size                	= 0
thread_handling                 	= pool-of-threads
open_files_limit                	= 65535
table_definition_cache          	= 4096
table_open_cache                	= 4096
thread_pool_size                	= {{ ansible_processor_vcpus }}
max_connections                 	= 500
wait_timeout                    	= 600
interactive_timeout             	= 600
tmp_table_size                  	= {{ [(ansible_memtotal_mb/512),16]|max|round|int }}M
max_heap_table_size             	= {{ [(ansible_memtotal_mb/512),16]|max|round|int }}M

################################################################
# MySQL Logs
################################################################
#binlog_format                   	= STATEMENT
#binlog_row_image                	= FULL
#sync_binlog                     	= 0
#log_bin                         	= /var/lib/mariadb/log/mariadb-bin
#log_bin_index                   	= /var/lib/mariadb/log/mariadb-bin.index
#expire_logs_days                	= 3
log_error                       	= /var/lib/mariadb/log/mariadb-error.log
slow_query_log                  	= ON
slow_query_log_file             	= /var/lib/mariadb/log/mariadb-slow.log
log_queries_not_using_indexes   	= OFF
log_warnings                    	= 2
log_slow_verbosity              	= query_plan,innodb,explain
long_query_time                 	= 5

################################################################
# InnoDB Variables
################################################################
innodb_file_per_table           	= ON
innodb_data_file_path           	= ibdata1:12M:autoextend
innodb_buffer_pool_size         	= {{ (ansible_memtotal_mb/1024 * 0.75)|round|int }}G
innodb_buffer_pool_instances    	= {{ [[(ansible_memtotal_mb/1024 * 0.75),8]|max,64]|min|round|int }}
innodb_page_cleaners            	= {{ [[(ansible_memtotal_mb/1024 * 0.75),8]|max,64]|min|round|int }}
innodb_flush_log_at_trx_commit  	= 1
innodb_flush_method             	= O_DSYNC
innodb_log_files_in_group       	= 2
innodb_log_buffer_size          	= 64M
innodb_log_file_size            	= {{ [[(((ansible_memtotal_mb/1024 * 0.33)/2)),1]|max,15]|min|round|int }}G
innodb_io_capacity              	= {{ volume_iops }}
innodb_autoinc_lock_mode        	= 2
innodb_rollback_on_timeout      	= ON
innodb_thread_concurrency       	= {{ (ansible_processor_vcpus * 2) }}
innodb_print_all_deadlocks      	= ON
innodb_defragment               	= ON

################################################################
# Optimizer Switches
################################################################
{% include 'optimizer.j2' %}
