[maxscale]
threads=auto

[DatabaseMonitor]
type=monitor
module=mariadbmon
servers=mariadb1,mariadb2,mariadb3
user={{ maxscale_user }}
password={{ hexadecimal.stdout }}
replication_user={{ repli_user }}
replication_password={{ repli_pass }}
monitor_interval=100
journal_max_age=28800
script_timeout=90
detect_standalone_master=true
enforce_read_only_slaves=true
verify_master_failure=true
auto_failover=true
auto_rejoin=true

[SplitterService]
type=service
router=readwritesplit
servers=mariadb1,mariadb2,mariadb3
user={{ maxscale_user }}
password={{ hexadecimal.stdout }}
use_sql_variables_in=master
strict_multi_stmt=true
strict_sp_calls=true
master_accept_reads=true
{% if maxscale_version|float > 2.2 %}
causal_reads=true
{% endif %}

[SplitterListener]
type=listener
service=SplitterService
protocol=MariaDBClient
port=3306

[mariadb1]
type=server
address=10.10.10.10
port=3306
protocol=MariaDBBackend

[mariadb2]
type=server
address=10.10.10.11
port=3306
protocol=MariaDBBackend

[mariadb3]
type=server
address=10.10.10.12
port=3306
protocol=MariaDBBackend
