optimizer_switch                	= 'index_merge=ON'
optimizer_switch                	= 'index_merge_union=ON'
optimizer_switch                	= 'index_merge_sort_union=ON'
optimizer_switch                	= 'index_merge_intersection=ON'
optimizer_switch                	= 'index_merge_sort_intersection=OFF'
optimizer_switch                	= 'engine_condition_pushdown=OFF'
optimizer_switch                	= 'index_condition_pushdown=ON'
optimizer_switch                	= 'derived_merge=ON'
optimizer_switch                	= 'derived_with_keys=ON'
optimizer_switch                	= 'firstmatch=ON'
optimizer_switch                	= 'loosescan=ON'
optimizer_switch                	= 'materialization=ON'
optimizer_switch                	= 'in_to_exists=ON'
optimizer_switch                	= 'semijoin=ON'
optimizer_switch                	= 'partial_match_rowid_merge=ON'
optimizer_switch                	= 'partial_match_table_scan=ON'
optimizer_switch                	= 'subquery_cache=ON'
optimizer_switch                	= 'mrr=OFF'
optimizer_switch                	= 'mrr_cost_based=OFF'
optimizer_switch                	= 'mrr_sort_keys=OFF'
optimizer_switch                	= 'outer_join_with_cache=ON'
optimizer_switch                	= 'semijoin_with_cache=ON'
optimizer_switch                	= 'join_cache_incremental=ON'
optimizer_switch                	= 'join_cache_hashed=ON'
optimizer_switch                	= 'join_cache_bka=ON'
optimizer_switch                	= 'optimize_join_buffer_size=OFF'
optimizer_switch                	= 'table_elimination=ON'
optimizer_switch                	= 'extended_keys=ON'
optimizer_switch                	= 'exists_to_in=ON'
optimizer_switch                	= 'orderby_uses_equalities=ON'
optimizer_switch                	= 'condition_pushdown_for_derived=ON'
optimizer_switch                	= 'split_materialized=ON'
