log_slave_updates               	= ON
read_only                       	= ON
relay_log                       	= /var/log/mysql/mariadb-relay
relay_log_index                 	= /var/log/mysql/mariadb-relay.index
relay-log-info-file             	= /var/log/mysql/mariadb-relay.info
report_host                     	= {{ ansible_nodename }}
sysdate_is_now                  	= ON
