[sst]
streamfmt                       	= xbstream
transferfmt                     	= socat
compressor                      	= "pigz -c"
decompressor                    	= "pigz -dc"
inno-apply-opts                 	= "--use-memory=1G"
